@model WebShop.Models.ViewModels.HomeVM

<div class="container">
    <div class="text-center">
        <button class="btn btn-dark filter-button" data-filter="all">
            all
        </button>
        @foreach (var obj in Model.Categories)
        {
            <button class="btn btn-outline-secondary filter-button"
                    data-filter="@obj.Title.Replace(' ', '_')">
                @obj.Title
            </button>
        }
    </div>
    <br/>
    <div class="row">
        
    </div>
</div>