@model WebShop.Models.ViewModels.HomeVM

<div class="container">
    <div class="text-center">
        <button class="btn btn-dark filter-button" data-filter="all">
            all
        </button>
        @foreach (var obj in Model.Categories)
        {
            <button class="btn btn-outline-secondary filter-button"
                    data-filter="@obj.Title.Replace(' ', '_')">
                @obj.Title
            </button>
        }
    </div>
    <br/>
    <div class="row">
        @foreach (var obj in Model.Products)
        {
            <partial name="_productCard" model="obj"/>
        }
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function(){ 
            
            //  отслеживание клика на кнопку filter-button
        $(".filter-button").click(function(){
    
            //  берём значение атрибута data-filter
            var value = $(this).attr('data-filter');
            if(value == "all")
            {
                // Все элементы с классом "filter" 
                // плавно показываются за 1000 миллисекунд (1 секунда).
                $('.filter').show('1000');
            }
            else
            {
                $(".filter").not('.'+value).hide('3000');
                $('.filter').filter('.'+value).show('3000');
                
            }
        });
    
    });
    </script>
}
